.formContainer {
  height: 100%;
  width: 70%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 2px solid black; */
}

.aboutSection {
  height: 100%;
  width: 30%;
  padding: 20px;
  display: flex;
  border-radius: 16px;

  justify-content: center;
  align-items: center;
}
