.outerContainer {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content {
  height: 90%;
  width: 70%;
  border: 1px solid red;
  text-align: center;
  align-content: center;
}
