.plantImage {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.plantImage .MuiAvatar-img {
  object-fit: contain !important;
  object-position: center !important;
  width: 100% !important;
  height: 100% !important;
}
